@{
    ViewBag.Title = "About";
}
<h2>About Us</h2> 

<p> 
    Welcome to our vehicle rental platform! 
    We provide a wide selection of vehicles 
    to suit your needs—whether you're looking for something economical, 
    family-friendly, or luxurious. Our mission is to help provide easy access to rental cars.
</p>